.list-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1800px) {
  .list-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1300px) {
  .list-layout {
    grid-template-columns: 1fr;
  }
}
